.overlay {
  background: rgba(62, 68, 73, 0.93);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s linear 200ms, opacity 200ms;
  visibility: hidden;
}

.overlay--is-open {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 200ms;
  visibility: visible;
}

.modal {
  left: 50%;
  max-width: 90vw;
  position: absolute;
  top: 24px;
  transform: translate(-50%, 0);
  visibility: hidden;
  width: 1140px;

  @media (min-width: $medium-and-up) {
    max-width: 80vw;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal--is-open {
  visibility: visible;
}

.modal__content {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: (40 / 57) * 100%;
    width: 100%;
  }
}

.modal__content-image {
  border-radius: 4px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.modal__close-btn {
  align-items: center;
  background: $color-black;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  outline: none;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 30px;
  z-index: 1;

  svg {
    fill: $color-white;
    height: 24px;
    pointer-events: none;
    width: 24px;
  }

  &:focus,
  &:hover {
    background: rgb(180, 199, 181);
  }
}
