.pagination {
  display: flex;
  justify-content: center;

  @media (min-width: $medium-and-up) {
    justify-content: flex-end;
  }
}

.pagination-nav__btn {
  cursor: pointer;
  margin-left: 4px;
  padding: 10px;
}
