.search {
  display: flex;
  background: $color-white;
  border-radius: 4px;
  margin: 16px 0 0;
  padding: 8px 16px;
}

.search__input {
  border: none;
  flex: 1;
  font-size: 1em;
  height: 45px;
  margin: 0;

  &::placeholder {
    color: $color-dark-grey;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-search-cancel-button {
    appearance: none;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
      no-repeat 50% 50%;
    background-size: contain;
    border-radius: 50em;
    cursor: pointer;
    height: 1em;
    opacity: 0;
    pointer-events: none;
    width: 1em;
  }

  &:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
  }
}

.search__btn {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  height: 47px;
  margin: 0;
  outline: none;

  &:hover {
    svg {
      fill: $color-dark-grey;
    }
  }

  svg {
    height: 24px;
    width: 24px;
  }
}
