$bg-color: red;

body {
  background: $bg-color;
}

.gallery {
  display: flex;
}

.gallery-card {
  cursor: pointer;
  margin: 0 10px;
  width: 100px;
}

.gallery-card__image {
  pointer-events: none;
  width: 100%;
}

.pagination-nav__btn {
  cursor: pointer;
}

.overlay {
  background: rgba(62, 68, 73, 0.93);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
}

.overlay--is-open {
  visibility: visible;
}

.modal {
  background: #fff;
  border-radius: 4px;
  height: 80vh;
  left: 50%;
  max-width: 50vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 1140px;
  z-index: 1;
}

.modal--is-open {
  visibility: visible;
}
